/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Lato');

/* Font-awesome */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Colours*/
$primary: #3aa6d0;
$body: #eaeaea;
$fontcolor: #292929;

/* CSS reset */
body{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;
	padding: 0px;
}

/* General CSS */
body{
	background-color: $body;
	color: $fontcolor;
	font-family: 'Lato', sans-serif;
}

h1 {
	color: $primary;
	font-family: 'Asap Condensed', sans-serif;
}

/* Animation keyframes */
@keyframes borders {
    0%   {border-top: 1px solid white;}
    25%  {
		border-top: 1px solid white;
		border-right: 1px solid white;
	}
    50%  {
		border-top: 1px solid white;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
	}
    100% {border: 1px solid white;}
}
